a {
	text-decoration: none;
}

.navbar {
	display: flex;
	justify-content: space-between; /*met le h1 à droite et les h2 à gauche*/
	background-color: rgb(144,54,54);
	padding: 16px; /*élargit navbar*/
}

.logo_title, .navbar ul li a {
	color: white; /* met les écritures en blanc*/
}

.navbar ul {
	display: flex;
	align-items: center; /* met les écritures à la suite et pas en colonne*/
	list-style-type: none; /* enlève les points de la liste*/
}

.navbar ul li a {
		padding: 12px; /*espace entre écritures*/
		margin: 0 6px;
}

.navbar ul li a:hover{
	/* quand on met souris sur différents liens*/
	color: rgb(255,153,102);
	background-color : blue;
	border-radius: 4px;
}
