html {
	background-color: white;
}

body {
	cursor: url('image_ballon_foot_souris.jpg'), auto;
	width: 92%;
	padding: 20px;
	color: black;
	font-family: 'Poppins', sans-serif;
	margin: auto;
	line-height: 1.6; /* Augmente l'espace entre les lignes */
}

h1 {
	text-align: center;
	color: rgb(230, 100, 100);
	border-radius: 30px;
	font-family: 'Luckiest Guy', cursive;
	padding: 15px;
}

h2 {
	padding: 15px;
	border-radius: 20px;
	font-family: 'Luckiest Guy', cursive;
	border: dashed 2px rgb(226,45,69);
	text-align: center;
	color: rgb(226,45,69);
}

h3 {
	padding: 10px;
	border-radius: 30px;
	font-family: 'Luckiest Guy', cursive;
	color: rgb(17,2,95)
}

p {
	text-indent: 5%;
	margin-bottom: 15px;
}

img {
	max-width: 30%;
	display: block;
	margin-left:10px;
	transition: transform 0.3s ease, opacity 0.3s ease;
	/*width: 100px;  largeur en pixel de ta photo */
	/*height:75px;  hauteur en pixel de ta photo */
	/*margin-right:10px; marge en pixel à droite de la photo */

}

iframe {
	display: block;
	margin: 0 auto;
	width: 90%;
}

.en_couleur {
	color: rgb(17,2,95);
}

.titresom {
	color: rgb(226,45,69);
	text-decoration: underline;
	font-family: "Luckiest Guy", cursive;
	font-size: 30px;
}

.le_savais_tu {
	color: rgb(5,125,134);
	font-family: "Frijole", system-ui;
	font-size: 20px;
}

.centre {
	max-width: 50%;
	display: flex 
}

a {
	text-decoration: none;
}

.navbar {
	display: flex;
	justify-content: space-between; /*met le h1 à droite et les h2 à gauche*/
	background-color: rgb(144, 54, 54);
	padding: 20px; /*élargit navbar*/ /*16px*/
	align-items: center;
	/*background: linear-gradient(to right, rgb(144, 54, 54), rgb(255, 153, 102));*/
	border-radius: 5px;/*10px*/
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
	max-width: 1400px;
	width: 96%;
}

.logo_title, .navbar ul li a {
	color: white; /* met les écritures en blanc*/
}

.navbar ul {
	display: flex;
	align-items: center; /* met les écritures à la suite et pas en colonne*/
	list-style-type: none; /* enlève les points de la liste*/
	list-style: none;
}

.navbar ul li {
	margin: 0 15px;
}

.navbar ul li a {
	padding: 12px; /*espace entre écritures*/
	margin: 0 6px;
	color: white;
	font-weight: bold;
	transition: all 0.3s ease;
	border-radius: 5px;
}

.navbar ul li a:hover {
	/* quand on met souris sur différents liens*/
	/*color: white;*/
	background-color: rgb(255,153,102);
	border-radius: 4px;
	background-color: white;
    	color: rgb(230, 100, 100);
    	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.actu : hover {
	color: rgb(255,153,102);
}

.histoires : hover {
	color: rgb(255,153,102);
}

.titres_images {
	color: rgb(102,102,204) ;
	font-family: "Platypi", serif;
	font-optical-sizing: auto;
	font-weight: 600 ;
	font-style: normal;
}

img:hover {
	transform: scale(1.05);
	opacity: 0.9;
}

section {
	background: #f9f9f9;
	padding: 20px;
	margin: 20px 0;
	border-radius: 10px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(96, 96, 96);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 20px;
    transition: background 0.3s ease;
    display: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

#scrollToTop:hover {
    background-color: rgb(17,2,95);
}
