a {
	text-decoration: none;
}

.navbar {
	display: flex;
	justify-content: space-between; /*met le h1 à droite et les h2 à gauche*/
	background-color: rgb(144,54,54);
	padding: 16px; /*élargit navbar*/
}

.logo_title, .navbar ul li a {
	color: white; /* met les écritures en blanc*/
}

.navbar ul {
	display: flex;
	align-items: center; /* met les écritures à la suite et pas en colonne*/
	list-style-type: none; /* enlève les points de la liste*/
}

.navbar ul li a {
		padding: 12px; /*espace entre écritures*/
		margin: 0 6px;
}

.navbar ul li a:hover{
	/* quand on met souris sur différents liens*/
	color: white;
	background-color : rgb(255,153,102);
	border-radius: 4px;
}




body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(227,227,227) ;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px; /* espaces entre les lignes et entre les colonnes de la grille*/
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: rgb(255, 197, 127) ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

.grid-item {
    border: none; /* Bords invisibles */
    padding: 10px;
}

.grid-item p {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 10px;
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

iframe, .instagram-media {
    width: 100%;
    max-width: 560px;
    margin: 0 auto;
    display: block;
}

/* Styles spécifiques pour les éléments Instagram */
.instagram-media {
    margin: 0 auto;
}

